.postlist {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.postlist-item {
	display: flex;
	flex-wrap: wrap;
}

/* TODO: Define some variables, to have better options to manage it in the future XOR use WebAwesome variables for it. */
.postlist-item h2,
.book-excerpt h2,
.post-content h2 {
	font-size: 1.5em;
	margin-bottom: 0.3em;
}

.postlist-item .post-content h2 {
	font-size: 1.5em;
}

.postlist-item .postlist-content {
	font-size: 1.5em;
}

.postlist-item,
.post-content {
	font-size: 1.2em;
}
.postlist-cover {
	width: max(120px, 40%);
	flex-shrink: 0;
}

.postlist-item-header {
	padding-left: 20px;
	font-size: 1.5em;
	align-self: baseline;
}

.postlist-link {
	font-weight: bold;
	width: 300px;
}

.postlist-item-content {
	min-inline-size: var(--content-percentage, 30%) !important;
	align-self: baseline;
}

.postlist-item-content h2,
.postlist-item-content h1 {
	margin-top: 0%;
}

.read-date {
	font-size: 0.9em;
	color: #666;
}

/* Mobile portrait */
@media screen and (max-width: 479px) {
	.postlist-item > .wa-flank {
		flex-direction: column;
	}

	.postlist-cover {
		width: 100%;
	}

	.postlist-item-header {
		padding-left: 0;
		margin-top: 1rem;
	}

	.postlist-cover img {
		width: 100%;
		height: auto;
	}
}

/* Mobile landscape */
@media screen and (min-width: 480px) and (max-width: 767px) {
	.postlist-cover {
		width: 120px;
	}

	.postlist-cover img {
		width: 100%;
		height: auto;
	}
}

/* Default screen size */
@media screen and (min-width: 768px) {
	.postlist-cover {
		width: 33.33%;
		max-width: 200px;
	}

	.postlist-item-header {
		width: calc(66.67% - 20px);
		max-width: 400px;
	}

	/* .postlist-cover img {
		width: 100%;
		height: auto;
	} */
}
