---
permalink: /books/
---
<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/books/page-1/">
    <title>Redirecting to Books</title>
  </head>
  <body>
    <p>Redirecting to <a href="/books/page-1/">Books</a>...</p>
  </body>
</html>