---
permalink: /tags/
layout: layouts/home.njk
---
<h1>Themen der Bücher</h1>

<p>Bücher können Themen bekommen, unten sieht man die aktuell verwendeten Themen.</p>

<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
