---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1>Thema: “{{ tag }}”</h1>

<p>Siehe <a href="/tags/">alle Themen</a> für weitere Themen.</p>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
