{# _includes/alpha-index.njk #}
{% macro alphaIndex(currentLetter) %}
  <nav class="alpha-index" aria-label="Alphabetical Index">
  	<wa-button-group orientation="horizontal">

      {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
      	<wa-button class="wa-filled  wa-size-l" {% if letter == currentLetter %} appearance="accent" variant="brand"{% else %}
        	appearance="outlined"{% endif %} href="/authors/letter-{{ letter | lower }}/">
         	{{ letter }}
        </wa-button>
      {% endfor %}
    </wa-button-group>
  </nav>
{% endmacro %}
