{# _includes/pagination-nav.njk #}
{% macro paginationNav(pagination) %}
  <nav class="pagination" aria-label="Pagination Navigation">
    <wa-button-group orientation="horizontal">
      {% if pagination.href.previous %}
        <wa-button pill class="wa-filled  wa-size-l" appearance="outlined" href="{{ pagination.href.previous}}">
          Neuer
          <wa-icon name="chevron-left"></wa-icon>
        </wa-button>
      {% endif %}

      {% for pageEntry in pagination.pages %}
        <wa-button  pill class="wa-filled  wa-size-l" {% if loop.index0 == pagination.pageNumber %} appearance="filled" variant="brand"{% else %}
        appearance="outlined"{% endif %} href="{{ pagination.hrefs[loop.index0] }}">
          {{ loop.index }}
        </wa-button>
      {% endfor %}

      {% if pagination.href.next %}
        <wa-button pill class="wa-filled  wa-size-l" appearance="outlined" href="{{ pagination.href.next }}">
          Älter
          <wa-icon name="chevron-right"></wa-icon>
        </wa-button>
      {% endif %}
    </wa-button-group>
  </nav>
{% endmacro %}
