---
layout: layouts/base.njk
---
<h1>{{ name }}</h1>
{% if email %}<p>Email: {{ email }}</p>{% endif %}
{% if website %}<p>Website: <a href="{{ website }}">{{ website }}</a></p>{% endif %}

{% if content %}
  <div class="author-bio">
    {{ content | safe }}
  </div>
{% else %}
  <div class="author-bio">
    <p>Keine zusätzlichen Informationen verfügbar für diesen Autor.</p>
  </div>
{% endif %}

<h2>Bücher von {{ name }}</h2>
<ul class="book-list wa-stack" class=".wa-gap-xl">
{% set authorBooks = collections.posts | byAuthor(name) | sortByTitle %}

{% if authorBooks.length > 0 %}
  {% for post in authorBooks %}
    <li class="book-item wa-flank wa-align-items-start"  style="--flank-size: 120px;">
      <div class="book-cover" >
        {% if post.data.cover %}
          <a href="{{ post.url }}">
            {% image '../blog/books' + post.data.path + '/' + post.data.cover, post.data.title, "120px" %}
          </a>
        {% else %}
          <div class="no-cover">No Cover</div>
        {% endif %}
      </div>
      <div class="book-details">
      	<h4>
        <a href="{{ post.url }}" class="book-title">{{ post.data.title }}</a>
        <time class="book-date" datetime="{{ post.date }}">{{ post.date | germanDate  }}</time></h4>
        <div class="book-excerpt">
          {{ post.templateContent | excerpt | safe }}
        </div>
	    </div>
    </li>
  {% endfor %}
{% else %}
  <li>Keine Bücher gefunden für diesen Autor.</li>
{% endif %}
</ul>
