---
layout: layouts/base.njk
---
<h1>{{ name }}</h1>

<div class="author-bio">
  <p>No additional information is available for this author.</p>
</div>

<h2>Books by {{ name }}</h2>
<ul class="postlist">
{% set authorBooks = collections.posts | byAuthor(name) %}

{% if authorBooks.length > 0 %}
  {% for post in authorBooks | reverse %}
    <li class="postlist-item">
      <a href="{{ post.url }}" class="postlist-link">{{ post.data.title }}</a>
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </li>
  {% endfor %}
{% else %}
  <li>No books found for this author.</li>
{% endif %}
</ul>
